#h1{
    text-align: center;
    font-size: 20px;
}

/* More button */
.more{
  background-color: rgb(250, 243, 147);
  font-size: large;
  width: 70px;
  height: 30px;
  border: 2px solid rgb(10, 10, 79);
  border-radius: 2px;
}
.more:hover{
  background-color: rgb(247, 234, 59);
  border: 3px solid black;
  box-shadow: 1px 4px 14px white;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

/*Body background*/
#main-body{
    background-image: url("img/bgimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 270px;
    height: 400px;
    padding-bottom: 10px;
    align-items: center;
}
/*switch*/
.center-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border: 2px solid black;
    border-radius: 10px;

  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3f3f3f;
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid black;
    border-radius: 10px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 26px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 8px;
  }
  
  input:checked + .slider {
    background-color: #008bfd;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #008cff;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  #bg2{
    background-image: url("img/wavy.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #h1 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
  }

  .center-container {
    margin: 20px auto;
  }

  /* ribbon */
  .tab {
    display: flex;
    border: 1px solid #000000;
    background-color: blanchedalmond;
    padding-left: 5px;
    column-gap: 20px;
    height: 30px;
  }

  .tab button {
    background-color: inherit;
    border: none;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .tab button:hover {
    background-color: #ddd;
  }

  .tab button.active {
    background-color: hsl(48, 78%, 73%);
    font-weight: bold;
  }

  .tabcontent {
    display: none;
    margin-top: 10px;
    background-color: hsl(184, 72%, 87%);
    padding: 20px;
    padding-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 120px;
    border-radius: 5px;
    border: 1.5px solid rgb(73, 73, 74);
  }

  .tabcontent2 {
    display: none;
    margin-top: 10px;
    background-color: hsl(184, 72%, 87%);
    padding: 20px;
    padding-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 120px;
    border-radius: 5px;
    border: 1.5px solid rgb(73, 73, 74);
  }

/* menu-bar */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidetext:hover{
    box-shadow: 2px 4px 14px blanchedalmond;
    font-size: 20px;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #quickactions{
    color: #e7e3e3;
    font-size: 18px;
    text-align: center;
  }

  /* #titlepic{
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
  } */


  /* #bar{
    width: 20px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
  }
  #bar:hover{
    width: 22px;
    height: 5px;
  } */

  #menimg{
    padding-top: 6px;
    padding-bottom: 6px;
    width: 20px;
    height: 15px;
  }
  #menimg:hover{
    box-shadow: 1px 2px 10px rgb(249, 249, 114);
    transition-duration: 0.7s;
    transition-timing-function: ease;
  }